<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MeadowLark Travel</title>
  </head>
  <body>
    {{! therefore here, we can access our static assets without
    having to explicity specify the source }}
    <header><img
        src="/img/logo.png"
        alt="MeadowLark image"
        height="300"
        width="400"
      /></header>
    {{{body}}}
  </body>
</html>